@import "../../design-templates/colors.css";

.appFooter {
    display: flex;
    flex-direction: column;
    background: black;
    bottom: 0;
    height: auto;
}

.logo {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
    flex-basis: 25%;
    

}



.logo a {
    text-decoration: none;
    color: white;
    

}

.logo *:hover {
    color: var(--call-to-action);
}

.subheading {
    font-size: 1.2rem;
    color: rgb(199, 199, 199);
    margin: 0;
    font-style: italic;
}


@media(min-width:52rem) {
    .appFooter {
        display: flex;
        flex-direction: row;
        background: black;
        bottom: 0;
        align-items: center;
        height: auto;
        padding: 1rem;
        
    }

    .logo {
        margin-top: 1rem;
        font-size: 2rem;
        padding: 0 4rem;
        flex-basis: 25%;
        height: 50%;
        border-right: solid 2px white;
        
    }

    



    .logo a {
        text-decoration: none;
        color: white;
        
    }

    .logo *:hover {
        color: var(--call-to-action);
    }

    .subheading {
        font-size: 1.2rem;
        color: rgb(199, 199, 199);
        font-style: italic;
        position:absolute;
    }



    .links{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .links h3{
        color: white;
        text-align: center;
        font-size: 1.2rem;

    }

    .links_list{
        list-style: none;
        flex-direction: column;
        margin: 1rem 0;
        align-self: center;
  
    }

    .link a{
        color: white;
        text-decoration: none;
        margin: 0;
        font-size: 1rem;
    }

    .callToAction{
        align-self: center;
        width: 8rem;
        border-radius: 20px;
        border-style: none;
        height: 4vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), var(--call-to-action));
        color: white;
        font-weight: bold;
        margin-left: 2rem;
    }


    .info{
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .info p{
        color:white;
    }

    .iconLabel{
        display: flex;
        flex-direction: row;
        width:50%;
        justify-content: space-between;
        color:white;
        left:0;
    }


   
}
