@import "../../design-templates/colors.css";

.header{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 8vh;
    padding:1rem;
}

.navigation{
    display: none;
}



  .callToAction{
    margin: 10px;
    width: 8rem;
    border-radius: 20px;
    border-style: none;
    height:4vh;
    background-image: linear-gradient(to bottom ,rgba(0, 0, 0,0.7), var(--call-to-action));
    color:white;
    font-weight: bold;
  }

  .logo{
      font-size: 2rem;
     
    
      margin-top: 2px;
  }

  .logo *{
    text-decoration: none;
    cursor: pointer;
    color: white;
  }


 @media(min-width:40rem){
    .header{
        display: flex;
        flex-direction: row;
        background-color: black;
        height: 8vh;
        padding:1rem;
    }

    .navigation{
        display: flex;
        width: 100vw;  
        justify-content: flex-end;
    }
    
    .navigation ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    
      
    .navigation a {
        
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
      }
    
    
      .navigation a:hover,
      .navigation a:active{
        color: var(--call-to-action);
      }  
    
    
      .callToAction{
        margin: 10px;
        width: 8rem;
        border-radius: 20px;
        border-style: none;
        height:4vh;
        background-image: linear-gradient(to bottom ,rgba(0, 0, 0,0.7), var(--call-to-action));
        color:white;
        font-weight: bold;
      }
    
      .logo{
          font-size: 2rem;
         
        
          margin-top: 2px;
      }
    
      .logo *{
        text-decoration: none;
        cursor: pointer;
        color: white;
      }
    

    
 }