@import "../../design-templates/colors.css";

.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: auto;
    padding: 1rem 4rem;
    position:fixed;
    width: 100%;
    height: auto;
    z-index: 10;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: none;
    width: 50%;
}




.navigation a:hover,
.navigation a:active {
    color: var(--call-to-action);
}


.callToAction {
    margin: 10px;
    width: 8rem;
    border-radius: 20px;
    border-style: none;
    height: 4vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), var(--call-to-action));
    color: white;
    font-weight: bold;
}



.callToAction {
    display: none;
    margin: 10px;
    width: 8rem;
    border-radius: 20px;
    border-style: none;
    height: 4vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), var(--call-to-action));
    color: white;
    font-weight: bold;
}

.logo {
    font-size: 2rem;


    margin-top: 2px;
}


.logo a:hover{
    color:var(--call-to-action);
}

.logo * {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.bars {
    display: block;
    color: white;
    font-size: 2.2rem;
    padding: 0;
    border: none;
    background: none;
}

.bars:hover {
    color: var(--call-to-action);  

}

.bars:active{
    transform: translateY(2px);
}


.mobileNav {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: center;
    align-items: center;


}

.mobileNav ul {
    display: flex;
    width:100%;
    flex-direction: column;
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0;
    align-items: center;
    
}

.links {
    padding: 10%;
    width:100%;
    margin-bottom: 10px;
    text-align: center;
}

.links:hover {

    border: 1px solid var(--call-to-action);
    color:var(--call-to-action)
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.links a:hover{
    color: var(--call-to-action);

}

.callToActionMobile {
    display: block;
    margin: 10px;
    width: 18rem;
    border-radius: 20px;
    border-style: none;
    height: 8vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), var(--call-to-action));
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 30px;
}

.callToActionMobile:hover {
    background: white;
    color: var(--call-to-action)
}

.callToActionMobile:active {
    transform:translateY(4px);
}

.open {
    display: block;
}

.close {
    display: none;
}

@media(min-width:52rem) {
    .header {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content:center;
        align-items: center;
        height: 8vh;
        padding: 1rem;
    }

    .navigation {
        display: flex;
        width: 100vw;
        justify-content: flex-end;
        padding: 0 4rem;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width: 50%;
    }


    .navigation a {

        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }


    .navigation a:hover,
    .navigation a:active {
        color: var(--call-to-action);
    }


    .callToAction {
        display: block;
        margin: 10px;
        width: 8rem;
        border-radius: 20px;
        border-style: none;
        height: auto;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), var(--call-to-action));
        color: white;
        font-weight: bold;
        cursor:pointer;
    }

    .logo {
        font-size: 2rem;
        padding: 0 4rem;

        margin-top: 2px;
    }

    .logo a:hover{
        color: var(--call-to-action);
    }

    .logo * {
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    .bars {
        display: none;
        font-size: 3rem;
    }

    .callToAction:hover
    {
        background: white;
        color: var(--call-to-action);
        
    }

    .callToAction:active{
        transform: translateY(2px);
        
    }

    


}